#projects h3,
#projects h4 {
  margin-bottom: 20px;
}

.project-cards-container {
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  overflow: hidden;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

.project-card img {
  height: 500px;
  display: block;
  transition: transform 0.3s ease;
}

.project-card img:hover {
  transform: scale(1.05);
}

.img-info {
  position: absolute;
}
